# Novella GitIgnore File
# Author: Steve Bennett

# Ignore temp junk
*.tmp
*.temp
.DS_Store
*.log
Thumbs.db
/.cache/

# Ignore build items
bundle.js
node_modules
bower_components
packages
pubspec.lock

# Ignore build artifacts
/build/
/releases/
/tmp/
/dist/
